.matter{
    display: grid;
    grid-template-rows: repeat(3,0.5fr);
    grid-template-columns: repeat(3,0.5fr);
    gap:20px;
    margin-left: 20px;
    
}
.main{
   padding: 2em;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   width: 500px;
   height: auto;
}
.main>img{
    width:300px;
    height:300px;
}
.main>h2{
  font-size:30px;
  font-weight: 300;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.main>h1{
font-size:25px;
}
.main>h4{
    font-size: 26px;
    font-weight: 400;
}
.main>h3{
    font-size: 27px;
    font-weight: 400;
}
.Display{
    display: grid;
    grid-template-columns: repeat(6,0.5fr);
    gap:10px;
    margin-bottom: 10px;
    margin-left: 10px;
  
}
#contact{
   font-size: 26px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 400;
}
#photo{
 height: 250px;
 width: 250px;
 border-radius: 50%;
  box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px ;
  border:2px solid rgb(247, 191, 191);
  cursor: pointer;
  background-color: rgb(227, 182, 124);
}
#photo>img{
    width: 200px;
   
}
@media screen and (min-width: 320px) and (max-width: 768px){
    .Display{
        display: grid;
    grid-template-columns: repeat(3,0.5fr);
    gap:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    }
    #photo{
        height: 250px;
        width: 250px;
        border-radius: 50%;
         box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px ;
         border:2px solid rgb(247, 191, 191);
         cursor: pointer;
         background-color: rgb(227, 182, 124);
       }
    .matter{
        display: grid;
        grid-template-rows: repeat(2,0.3fr);
        grid-template-columns: repeat(2,0.3fr);
        gap:20px;
        margin-left: 20px;
        
    }
}
@media screen and (min-width: 769px) and (max-width: 1200px){
    .Display{
    display: grid;
    grid-template-columns: repeat(2,0.5fr);
    gap:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    }
    #photo{
        height: 220px;
        width: 220px;
        border-radius: 50%;
         box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px ;
         border:2px solid rgb(247, 191, 191);
         cursor: pointer;
         background-color: rgb(227, 182, 124);
       }
    .matter{
        display: grid;
        grid-template-rows: repeat(2,0.3fr);
        grid-template-columns: repeat(2,0.3fr);
        gap:20px;
        margin-left: 20px;
        
    }
}