
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  background-image: url("https://www.shutterstock.com/image-photo/white-plain-paper-background-260nw-319747373.jpg");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.productpage{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  
  
}



