
.front-flex-img{
    width: 100%;
    
}
.heading{
    color:black;
    margin-bottom: 20px;
    text-align: center;
}
.collection_heading{
    color:black;
    text-align: center;
    padding: 20px;
    
}

.collection-component{
    background-color: white;
    
}


/* css for collection cards */
.collection_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    align-items: center;
    align-content: center;
  }

  
    /* Custom, iPhone Retina */
    @media only screen and (max-width: 319px) {
        .collection_grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.2rem;
          }
      }

  /* Custom, iPhone Retina */
  @media only screen and (min-width: 320px) {
    .collection_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
      }
  }
  
  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 480px) {
    .collection_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
      }
  }
  
  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    .collection_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
      }
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
    .collection_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
      }
  }
  
  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    .collection_grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
      }
  }

  .card-text{
    color: black;
    text-align: start;

  }

  /* css for our story component */
  .story_grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.2rem;
    background-color: white;
    color: black;
    justify-content: flex-start;
  }

  
    /* Custom, iPhone Retina */
    @media only screen and (max-width: 319px) {
      .story_grid {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.2rem;
          }
      }

  /* Custom, iPhone Retina */
  @media only screen and (min-width: 320px) {
    .story_grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.2rem;
      }
  }
  
  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 480px) {
    .story_grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.2rem;
      }
  }
  
  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    .story_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
      }
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
    .story_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
      }
  }
  
  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    .story_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
      }
  }
  /* on hover effect */


.shrink_img {
  transition: 1s ease;
  border-radius: 10%;
  }
  
  .shrink_img:hover{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
  }
  


.grow_img{
  transition: 1s ease;
  text-align: center;
  }
  
  .grow_img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
  }



.border_img {
  transition: .5s ease;
  }
  
  .border_img:hover{
  box-shadow: 0 0 0 10px #000000;
  transition: .5s ease;
  height: 300px;
  }

  .laptop_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    align-items: center;
    align-content: center;
    
  }

  
    /* Custom, iPhone Retina */
    @media only screen and (max-width: 319px) {
        .laptop_grid {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.2rem;
          }
      }

  /* Custom, iPhone Retina */
  @media only screen and (min-width: 320px) {
    .laptop_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
      }
  }
  
  /* Extra Small Devices, Phones */
  @media only screen and (min-width: 480px) {
    .laptop_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
      }
  }
  
  /* Small Devices, Tablets */
  @media only screen and (min-width: 768px) {
    .laptop_grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
      }
  }
  
  /* Medium Devices, Desktops */
  @media only screen and (min-width: 992px) {
    .laptop_grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
      }
  }
  
  /* Large Devices, Wide Screens */
  @media only screen and (min-width: 1200px) {
    .laptop_grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
      }
  }
  
  